<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hang Nate</title>
   <link href="https://fonts.cdnfonts.com/css/bubbly-2" rel="stylesheet">
   <style>
  @import url('https://fonts.cdnfonts.com/css/bubbly-2');
</style>
  <link rel="stylesheet" href="/css/jss.css">
  <link rel="stylesheet" href="/css/style.css">
 
</head>


  <div>
    <header >
      <h1>
        HangNate
    
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/"></a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}


</html>
