
  
  <div class="username-password-container">
    <input class="username" type="text" placeholder="Username">
    <input class="email" type="text" placeholder="email">
    <input class="password" type="password" placeholder="password">
    <button class="login" value="login">Login</button>
    <button class="create-account" value="Create Account">Create Account</button>
  </div>
     

<script src="./js/login.js"></script>
