<head>
  <link href="https://fonts.cdnfonts.com/css/bubbly-2" rel="stylesheet">
 <link rel=" stylesheet" type="text/css" href="public\css\style.css">
  <title>HangNate</title>
</head>
<style>
  @import url('https://fonts.cdnfonts.com/css/bubbly-2');
</style>
                
<body>
  <h1>HangNate</h1>
  <div class="username-password-container">
    <input class="username" type="text" placeholder="Username">
    <input class="password" type="password" placeholder="Password">
    <input class="create-account" type="submit" value="Create Account">
  </div>
   <img src="public\assets\first page .png" alt="Image" >
  <script src="..\files\script.js"></script>
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<script src="public\js\login.js"></script>

<script src="./js/login.js"></script>
