body {
    background-color: #a36565;
  }
  .username-password-container {
    position: absolute;
    display:flex;
    top: 40%;
    left: 40%;
    
    
  
  }
  
  .username-password-container input,.login,.create-account {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    font-size: 22px;
    padding: 1%;
    
  }
  
  .username-password-container input:first-child {
    margin-top: 0;
  }
  
  h1 {
    margin-left: 15%;
   font-family: 'Bubbly', sans-serif;
    font-size: 800%;
  }
  img{
  display: block;
    margin-left: auto;
    margin-top: auto;
    width: 30%;
    height: 100%;
  }