
body {
  background: #a36565;
  font-family: Schoolbell;
  color: #961e3a;
  height: fit-content;
  text-align: center;
  font-size: 18px;
}
.wrappper {
  width: fit-content;
  margin: 0;
}
.wrappper:after {
  content: "";
  display:table;
  clear: both;
}
canvas, #stickman {
  color: #0b0b0b;
  border: #121111 dashed 2px;
  padding: 50px;
}
h1, h2, h3 {
  font-family: Schoolbell;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(243, 176, 125), 0 0 0.2em rgb(247, 173, 94);
  
}
h1 {
  font-size: 500%;
  
}
h2 {
  font-size: 1.6em;
  
}
p {
  font-size: 1.6em;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(243, 176, 125), 0 0 0.2em rgb(247, 173, 94);
}
#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}
#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: #e64141;
  color: #eeefe9;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: solid 1px #fff;
  font-family:Schoolbell;

}
#alphabet li:hover {
  background: #f09292;
  border: solid 1px #fff;
  color: #fff;
}
#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}
#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}
.active:hover {
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}
button, #profile-button,#play-button{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background: red;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
#play-button{
  position:relative;
  top:100px;
  right:20px;
}
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: rgb(245, 94, 94);
}
@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
 }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
 }
}
.username-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
